<!-- <div class="alert alert-primary" role="alert">
  Home component!
</div>
 -->
 <div class="container" >
  <div class="row" style="padding-top: 20px;">
      <div class="col-md-3"><img src="assets/img/carpenter.jpg"><a routerLink="/labour">Carpenter</a></div>
      <div class="col-md-3"><img src="assets/img/electrician.jpg"><a routerLink="/labour">Electrician</a></div>
      <div class="col-md-3"><img src="assets/img/mechanic.jpg"><a routerLink="/labour">Mechanic</a></div>
      <div class="col-md-3"><img src="assets/img/painter2.jpg"><a routerLink="/labour">Painter</a></div> 
  </div>
 
  <div class="row ">
      <div class="col-md-3 p-4"><img src="assets/img/plumber.jpg"><a routerLink="/labour">Plumber</a></div>
      <div class="col-md-3 p-4"><img src="assets/img/rajmistri.jpg"><a routerLink="/labour"> RajMishtri</a></div>
      <div class="col-md-3 p-4"><img src="assets/img/tiles.jpg"><a routerLink="/labour">Tiles</a></div>
      <div class="col-md-3 p-4"><img src="assets/img/carpenter.jpg"><a routerLink="/labour">Carpenter</a></div> 
  </div>
  <div class="row ">
      <div class="col-md-3 p-4"><img src="assets/img/tiles.jpg"><a routerLink="/labour">Tiles</a></div>
      <div class="col-md-3 p-4"><img src="assets/img/rajmistri.jpg"><a routerLink="/labour">Carpenter</a></div>
      <div class="col-md-3 p-4"><img src="assets/img/plumber.jpg"><a routerLink="/labour">Plumber</a></div>
      <div class="col-md-3 p-4"><img src="assets/img/painter2.jpg"><a routerLink="/labour">Painter</a></div> 
  </div>
</div>


